---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col items-center h-full p-8">
    <h1 class="text-3xl">
      Wallpapers made with <span class="i-twemoji:red-heart"></span> in Astro <span
        class="i-twemoji:rocket"></span>
    </h1>
    <div class="flex flex-col grow items-center justify-center">
      <a
        class="text-xl p-2 hover:color-nord-frost-200 duration-100"
        href="eat-sleep-code">Eat, sleep, code, repeat!</a
      >
    </div>
  </div>
</Layout>
