---
interface Props {
  colorClass: string;
  item: string;
}

const { colorClass, item } = Astro.props;
---

<div class="flex flex-col items-center lt-md:gap-2 gap-10">
  <div class="text-7xl md:text-9xl color-fg-dark">
    <slot />
  </div>
  <div class="text-2xl md:text-4xl">
    {item}<span class={colorClass}>()</span>;
  </div>
</div>
