---
// const theme = Astro.cookies.get("theme") ?? "nord";

const { theme } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro wallpapers</title>
  </head>
  <body class=`font-mono color-fg-light ${theme}` data-theme={theme}>
    <script>
      const { theme } = document.body.dataset;
      await fetch(`/setTheme/${theme ?? "nord"}`, { method: "POST" });
    </script>
    <div class="relative bg-bg-darkGray h-100vh w-100vw">
      <slot />
    </div>
  </body>
</html>
