<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro wallpapers</title>
  </head>
  <body class="font-mono color-nord-snowStorm-300 overflow-hidden">
    <div class="relative bg-nord-polarNight-100 h-100vh w-100vw">
      <slot />
    </div>
  </body>
</html>
